.pagination{
    font-family: 'Noto Serif TC', serif;
    list-style-type: none;
  }
  
  .container{
    width: 100%;
    max-width: 940px;
    min-height: 800px;
    margin: 0 auto;
    position: relative;
    text-align: right;
  }
  
  /* GENERAL STYLES */

  #container_both {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ol.breadcrumb {
    margin-bottom: 0px;
  }
  
  .pagination a{
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
  }
  
  .shop_breadcrumb a{
    text-decoration: none;
    padding: 10px 0px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    display: inline-block;
    font-family: 'Noto Serif TC', serif;
    font-size: 14px;
    color: #000;
  }

  