.pagination{
    font-family: 'Noto Serif TC', serif;
    list-style-type: none;
  }
  
  .container{
    width: 100%;
    max-width: 940px;
    min-height: 800px;
    margin: 0 auto;
    position: relative;
    text-align: right;
  }

  @media (max-width: 1697px) {
    .container {
      width: 60%;
    }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 450px;
      width: auto;
    }
  }

  @media (max-width: 768px) {
    .filter-price {
      width: 300px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 0 20px;
      max-width: 100%;
    }
  }
  /* GENERAL STYLES */

  #container_both {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  ol.breadcrumb {
    margin:0 5px;

  }

  .btn-primary a{
    background-image: url(../images/interface-ui-controls-sliders_svgrepo.com.svg);
  }

  .shop_breadcrumb{
    display: flex;
  }
  
  .pagination a{
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
  }
  
  .breadcrumb-item a{
    text-decoration: none;
    padding: 10px 0px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    display: inline-block;
    font-family: 'Noto Serif TC', serif;
    font-size: 14px;
    color: #000;
  }

  