@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


/*eric css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: - -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁",
    "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體",
    "Microsoft JhengHei", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FFFCF5;
}

/*CSS卷軸滑動*/
html,
body {
  scroll-behavior: smooth;
}

/*header*/

::-webkit-scrollbar {
  display: none;
}

/* menu區 */
#topbar {
  background-color: #445251;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 10%;
  width: 100%;
  padding: 0px 2vw;
  z-index: 999;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header li {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 5px;
}

.logo img {
  width: 270px;
  min-width: 200px;
}

.checkbox_input {
  display: none;
}

.header_icon {
  display: flex;
}

.header_menu {
  display: flex;
  flex: 1;
  justify-content: center;
  letter-spacing: 5px;
  font-family: 'Italiana';
}

.header_menu li {
  list-style-type: none;
  width: 135px;
}

.header_menu a {
  color: #FFFCF5;
  text-decoration: none;
  font-size: 18px;
  padding: 40px 20px;
  position: relative;
}

.special-link:hover::before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background-color: #FFFCF5;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 45px;
  opacity: 1;
}

.dropdown_menu a:hover::before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background-color: #445251;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 22px;
  opacity: 1;
}

.header_menu a:hover::after {
  width: 2rem;
}

/* 觸發下拉選單 */
#topbar ul li:hover>ul {
  display: block;
}

/* 小選單 */
.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  background: #FFFCF5;
  padding: 0;
}

/* 小選單寬度 */
.dropdown_menu li {
  float: none;
  border-style: solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

/* 小選單文字 */
.dropdown_menu a {
  letter-spacing: 3px;
  line-height: 1.5;
  padding: 15px 20px;
  color: #445251;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
}

.dropdown_menu li:hover {
  background-color: #D6D8CA;
  transition: all .3s;
}

.header_icon {
  list-style-type: none;
}

/* 側欄購物車叉叉形式 */
.btn-close {
  --bs-btn-close-focus-shadow: none;
}

.list-item {
  display: flex;
  margin-right: 8px;
}

.offcanvas-body {
  text-align: left;
}

/* SVG */
.list_item a {
  display: flex;
  width: 37px;
  height: 37px;
  background-size: cover;
}

.icon_search {
  background-image: url(../image/Search.svg);
  margin-right: 4px;
}

.icon_cart {
  background-image: url(../image/Cart.svg);
}

.icon_sign_in {
  background-image: url(../image/SignIn.svg);
}

/* 側欄購物車bootstrap樣式 */
.offcanvas-title {
  font-size: 20px;
  color: #445251;
  text-decoration: none;
  font-family: 'Noto Serif TC', serif;
}

.cartbtn.btn-secondary {
  width: 200px;
  background-color: #445251;
  border-radius: 4px;
  color: #FFFCF5;
  padding: 10px 0;
  border: 0px solid transparent;
  letter-spacing: 3px;
  line-height: 1.5;
}

.cartbtn.btn-secondary:hover {
  background-color: #2f3837;
}

.overlay,
.openbtn {
  display: none;
}

@media (max-width: 1253px) {

  .logo {
    min-width: 200px;
    height: 100%;
  }

  .logo img {
    max-width: 200px;
    min-width: 200px;
  }
}

@media (max-width: 992px) {
  #topbar {
    padding: 10px 20px;
  }

  .header_menu li {
    display: none;
  }

  .header {
    justify-content: space-between;
    width: 100%;
  }

  ul.header_menu {
    display: block;
  }

  .list_item a {
    display: flex;
    width: 32px;
    height: 32px;
    background-size: cover;
  }

  /* 右側設置 */

  .rwd_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* 漢堡列表 */
  .overlay,
  .openbtn {
    display: flex;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(34, 42, 41, 1);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-logo {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 50%;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #9a9a9a;
    display: block;
    transition: 0.3s;
    letter-spacing: 3px;
    line-height: 1.5;
  }

  .overlay-content a {
    font-family: 'Italiana', serif;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #FFFCF5;
  }

  .overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 50px;
  }

  .openbtn {
    cursor: pointer;
    text-align: right;
    height: 28px;
    width: 30px;
    background-image: url(../image/hambergermenu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width:768px) {
  #topbar {
    padding: 10px 15px;
    min-height: 72.06px;
  }
}

@media (max-width:576px) {
  .logo img {
    max-width: 150px;
    min-width: 150px;
  }

  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.form h5,
.register-form label,
.login-form label,
.form input,
.form button,
.login-form p {
  font-family: 'Noto Serif TC', serif;
}


/* 登入畫面 */
#window-container {
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#window-pop {
  background: white;
  width: 30%;
  z-index: 1;
  margin: 12% auto;
  overflow: auto;
  border-radius: 20px;
}

.window-content {
  width: auto;
  overflow: auto;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #000;
}

/* 登入表單 */
.login-page {
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFCF5;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  border: 1px solid #4D5139;
  border-radius: 4px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #445251;
  width: 100%;
  border: 0.3;
  padding: 15px;
  margin: 15px 0;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message a {
  color: #4D5139;
  text-decoration: none;
  font-size: 16px;
  display: inline;
}

.form .register-form {
  display: none;
}

.register-form label,
.login-form label {
  font-size: 16px;
  color: #4D5139;
  font-weight: normal;
}

.form h5 {
  font-weight: normal;
  color: #4D5139;
  text-decoration: underline;
  text-underline-offset: 10px;
  border-bottom: #2f3837;
  font-size: 20px;
  padding-bottom: 35px;
}

.overlay-logo img {
  width: 200px;
}

/*end登入*/

/*按鈕區*/

#Case h2 {
  margin-top: 50px;
}

h2 {
  font-family: 'Italiana', serif;
  font-size: 44px;
  color: #445251;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.ch_title {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  position: relative;
  color: #445251;
}

.ch_title::after {
  content: '';
  background-color: #D6D8C9;
  position: absolute;
  width: 65px;
  height: 15px;
  top: 8px;
  right: 0px;
  z-index: -1;
}

@media (max-width:576px) {
  .overlay-logo img {
    width: 150px;
  }

  h2 {
    font-size: 36px;
  }

  .ch_title {
    font-size: 14px
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 20px;
}

.icon li {
  width: 114px;
  height: 198px;
  margin: 0 15px;
}

.icon-wedding,
.icon-gift,
.icon-indoor {
  box-sizing: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}





/*商品區*/
#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 50px;
}

.products a {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.products img {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(1, 1);
  transition: all 0.5s ease-out;
}

.products img:hover {
  transform: scale(1.1, 1.1);
}

@media (max-width: 992px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }
}


.products p {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

@media (max-width:576px) {
  .products p {
    font-size: 14px;
  }
}


.icon-wedding {
  background-image: url(../images/btn-wed.svg);
}

.icon-wedding:hover {
  background-image: url(../images/btn-wed_hover.svg);
}

.icon-gift {
  background-image: url(../images/btn-gift.svg);
}

.icon-gift:hover {
  background-image: url(../images/btn-gift_hover.svg);
}

.icon-indoor {
  background-image: url(../images/btn-in.svg);
}

.icon-indoor:hover {
  background-image: url(../images/btn-in_hover.svg);
}

/*點擊圖片縮放*/
#products img:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.3s;
}

/*search*/

.btn-custom {
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: #D6D8C9;
  font-size: 14px;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  transition: .5s ease;
  font-family: 'Noto Serif TC', serif;
}

.btn-custom:hover {
  filter: brightness(85%);
}

#container_both .icon-filter {
  background-image: url(../images/interface-ui-controls-sliders_svgrepo.com.svg);
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.offcanvas-header {
  background-color: #FFFCF5;
  border-bottom: 1px solid;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  background-color: #FFFCF5;
  font-family: 'Noto Serif TC', serif;
}

.btn-close {
  padding: 0px;
}

#search {
  padding: 20px 30px;
}

div#search.offcanvas-body li:first-child {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 500;
}

div#search.offcanvas-body ul {
  padding: 20px 0;
}

div#search.offcanvas-body li {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
}

div#search.offcanvas-body a {
  text-decoration: none;
  color: #445251;
}


@media (max-width:1697px) {
  .search {
    top: 10vh;
    left: -220px;
    width: 200px;
  }
}

.show-overlay {
  display: block;
}

.toggle-btn {
  position: fixed;
  top: 250px;
  left: 0px;
  z-index: 999;
}

@media (max-width:1697px) {
  .search {
    top: 10vh;
    left: -220px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .icon li {
    width: 100px;
    margin: 0 6px;
  }
}

@media (max-width: 576px) {
  .icon li {
    width: 90px;
    margin: 0 6px;
  }
}




.search_item_btn {
  padding-top: 15px;
  text-align: center;
}

.search ul {
  text-align: left;
  padding: 0;
}

.search ul li {
  padding: 10px 0;
}

.search a {
  color: #4d5139;
  text-decoration: none;
}

.search li {
  font-size: 14px;
}

.search_button {
  width: 200px;
  height: 30px;
  font-size: 14px;
  color: #FFFCF5;
  background-color: #4d5139;
  border: 1px solid;
  border-radius: 10px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.search_bar {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-color: #FFF;
  border: 1px solid #4D5139;
  text-align: center;
  letter-spacing: 0.5px;
}

.search_color {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

input:focus {
  outline: none;
}

@media (max-width:1697px) {
  .search_bar {
    width: 150px;
  }

  .search_button {
    width: 150px;
  }
}

/*客製區*/
/* 說明步驟區 */



.Custom_banner img {
  display: block;
  margin: auto;
  width: 100%;
}

.icon .btn-custom_delivery,
.icon .btn-custom_full,
.icon .btn-custom_half {
  box-sizing: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.icon .btn-custom_delivery {
  background-image: url(../images/custom_delivery.svg);
}

.icon .btn-custom_delivery:hover {
  background-image: url(../images/custom_delivery_hover.svg);
}

.icon .btn-custom_delivery:active {
  background-image: url(../images/custom_delivery_active.svg);
}

.icon .btn-custom_full {
  background-image: url(../images/custom_full.svg);
}

.icon .btn-custom_full:hover {
  background-image: url(../images/custom_full_hover.svg);
}

.icon .btn-custom_full:active {
  background-image: url(../images/custom_full_active.svg);
}

.icon .btn-custom_half {
  background-image: url(../images/custom_half.svg);
}

.icon .btn-custom_half:hover {
  background-image: url(../images/custom_half_hover.svg);
}

.icon .btn-custom_half:active {
  background-image: url(../images/custom_half_active.svg);
}

.steps {
  overflow-x: hidden;
}

.custom_steps {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.steps .custom_steps img {
  position: relative;
  margin: 100px auto;
}

.next.action-button {
  font-family: 'Noto Serif TC', serif;
}


#steps {
  height: auto;
}

.steps_bg_left,
.steps_bg_right {
  background-image: url(/image/Bg-flower-1.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.steps_bg_left {
  background-position: left top;
}

.steps_bg_right {
  background-position: right 80%;
}

@media (max-width: 768px) {

  .steps .custom_steps img {
    width: 550px;
  }

  .steps_bg_right {
    background-position: right 55%;
  }
}

@media (max-width: 576px) {

  .steps .custom_steps img {
    width: 100%;
    margin: 50px 0;
  }

  .steps_bg_right {
    background-position: right 30%;
  }
}

/* 全客製化區  */

/*背景*/

.custom_section_full {
  background: linear-gradient(rgb(255, 252, 245), rgb(255, 252, 245, 0.3)), url(../images/custom_full_bg.svg) no-repeat center 20%/cover;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: -1;
}

.link-top {
  width: 100%;
  height: 1px;
  border-top: solid #4D5139 2px;
}

#custom_full,
.custom_section_half {
  text-align: center;
}

.custom_section_half {
  padding: 0 20px;
}

.custom_full {
  font-family: 'Noto Serif TC', serif;
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  border-bottom: 2px solid #4D5139;
  padding-bottom: 10px;
  display: inline-block;
  width: 150px;
}

.custom_full_1 {
  font-family: 'Noto Serif TC', serif;
  font-weight: normal;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_full_1 p {
  background: -webkit-linear-gradient(transparent 60%, #D6D8C9 60%, #D6D8C9 100%, transparent 100%);
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  color: #4D5139;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .custom_section_full {
    height: auto;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .custom_full {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .custom_full {
    font-size: 18px;
    width: 120px;
  }

  .custom_full_1 p {
    font-size: 14px;
  }
}

/* 半客製化區  */

.custom_selector {
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: rgb(68, 82, 81, 0.8);
  padding: 20px 100px;
}

@media (max-width: 1056px) {
  .custom_selector {
    padding: 20px 50px;
    width: 800px;
  }

}

@media (max-width: 768px) {
  .custom_selector {
    width: 550px;
  }

}

@media (max-width: 576px) {
  .custom_selector {
    width: 100%;
    padding: 20px;
  }

}

.selector-subtitle {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
  color: #FFFCF5;
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  margin: 30px;
  border-bottom: 2px solid #FFFCF5;
  width: 90px;
}

.custom_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom_block_1,
.custom_block_2,
.custom_block_3 {
  width: 200px;
  height: 250px;
  border-radius: 100px 100px 8px 8px;
  margin-bottom: 0.5rem;
}

.custom_selector_img {
  margin-bottom: 20px;
}


.custom_block_4 {
  width: 100%;
  object-fit: fill;
  border-radius: 8px;
}


.custom_block p {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  text-align: center;
  color: #FFFCF5;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .link-top {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .selector-subtitle {
    font-size: 18px;
  }

  .custom_block_1,
  .custom_block_2,
  .custom_block_3 {
    width: 140px;
    height: 175px;
  }

  .custom_block p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .selector-subtitle {
    font-size: 16px;
  }

  .custom_block {
    flex-direction: column;
    align-items: center;
  }

  .custom_block_1,
  .custom_block_2,
  .custom_block_3 {
    width: auto;
    height: 200px;
  }

  .custom_block article {
    padding: 15px 0;
  }
}

/*選擇區*/
.custom_selector_1 {
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom_selector_1 p {
  font-family: 'Noto Serif TC', serif;
  text-align: left;
  font-weight: normal;
  color: #FFFCF5;
  text-decoration: none;
  padding: 10px 0px;
  font-size: 16px;
}

.selector_button_send {
  width: 200px;
  border-radius: 4px;
  background-color: #D6D8C9;
  color: #445251;
  font-family: 'Noto Serif TC', serif;
  font-size: 14px;
  padding: 10px 0;
  border: 0 solid transparent;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 30px;
}

.selector_button_send:hover {
  background-color: #B4B6A9;
}

@media (max-width: 768px) {
  .custom_selector_1 {
    flex-direction: column;
  }

  .custom_selector_1 p {
    font-size: 14px
  }

  .selector_button_send {
    width: 100%;
  }

}

input[type='radio'],
input[type='checkbox'] {
  accent-color: #445251;
}


/*加入購物車*/

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #4D5139 1px solid;
  margin: 0 30px;
  background-color: #FFFCF5;
}


.button:hover {
  background-color: #aaa;
}

#count {
  margin: 6px 20px;
  ;
  font-size: 16px;

}

.button_send {
  width: 200px;
  border-radius: 4px;
  background-color: #445251;
  color: #FFFCF5;
  font-family: 'Noto Serif TC', serif;
  font-size: 14px;
  padding: 10px 0;
  border: 0 solid transparent;
  letter-spacing: 3px;
  line-height: 1.5;
}

.button_send:hover {
  background-color: #2f3837;
}

.button_send_block {
  padding-top: 15px;
  text-align: right;
}


@media (max-width: 576px) {
  .button_send {
    width: 100%;
  }

}

/*客戶案例區*/

.case_banner {
  background-image: url(../images/case_banner.jpg);
  background-position: center -680px;
  width: 100vw;
  height: 350px;
  background-size: auto 1500px;
  background-repeat: no-repeat;
  margin-top: 10vh;
}

.case_banner h2 {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .case_banner {
    margin-top: 72.06px;
    background-size: auto 520px;
    background-position: center -130px;
    height: 250px;
  }
}

/*slider旁邊的文字*/
.case_gift img,
.case_wedding img,
.case_indoor img {
  position: absolute;
  z-index: -2;
  width: auto;
  height: auto;
}

.slider p {
  font-family: 'Noto Serif TC', serif;
}

.case_gift,
.case_wedding,
.case_indoor {
  position: relative;
  display: flex;
  height: 100%;
}

.case_gift {
  justify-content: flex-end;
  top: 220px;
  left: 160px;
}

.case_wedding {
  justify-content: flex-start;
  top: 160px;
  right: 160px;
}

.case_indoor {
  justify-content: flex-end;
  top: 80px;
  left: 160px;
}

@media (max-width: 1200px) {

  .case_gift,
  .case_wedding,
  .case_indoor {
    display: none;
  }
}

/*products區*/

.products_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  padding-top: 40px 20px 0px 20px;
}

@media (max-width:992px) {
  .products_section {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 120px 20px 0px 20px;
  }
}

@media (max-width:768px) {
  .products_section {
    padding-top: 90px;
  }

}

.des h3 {
  font-size: 30px;
}

.des p {
  padding: 10px 0px;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.products_section .small_pic {
  display: flex;
  margin: 20px;
  width: 310px;
  justify-content: center;
}

.currentImage {
  width: 310px;
}

.des>.products-detail {
  padding: 50px 0;
}

.thumbnail-images {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: border 0.3s;
}

.products_section .pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.des {
  margin-left: 50px;
  width: 650px;
  font-family: 'Noto Serif TC', serif;
}

@media (max-width:992px) {
  .products_section .pic {
    margin-bottom: 50px;
  }

  .currentImage {
    width: 422px;
  }

  .thumbnail-images {
    gap: 10px;
  }

  .thumbnail-images img {
    width: 134px;
    height: 134px;
  }

  .des {
    margin-left: 0px;
    margin-bottom: 50px;
    width: 550px;
  }
}

@media (max-width:768px) {


  .products_section .small_pic {
    margin: 10px;
    margin-left: 0px;
  }

  .des {
    width: auto;
  }

  .des h3 {
    font-size: 26px;
  }

}

@media (max-width:576px) {

  .products_section .pic,
  .currentImage,
  .thumbnail-images,
  .thumbnail-images img {
    width: 100%;
  }
}


/*額外服務*/

.additional {
  margin-top: 100px;
  background: url(../images/add_bg.svg) no-repeat bottom;
}

.additional p {
  font-family: 'Noto Serif TC', serif;
  font-size: 24px;
  color: #4D5139;
  text-align: center;
  padding-bottom: 45px;
}

.service {
  display: flex;
  justify-content: space-around;
  animation: service 2s ease-in-out infinite;
}

.middle {
  animation: service 2.1s ease-in-out infinite;
}

.middle img {
  margin: auto;
}

.middle-2 {
  display: none;
}

@media (max-width:1158px) {
  .service {
    height: 300px;
    margin: auto;
  }

  .middle img {
    height: 400px;
  }
}

@media (max-width:992px) {
  .service {
    height: 250px;
    margin: auto;
    margin-top: 50px;
  }

  .middle img {
    height: 350px;
  }
}

@media (max-width:820px) {
  .middle {
    display: none;
  }

  .middle-2 {
    display: flex;
  }

  .service {
    flex-direction: column;
    height: auto;
  }

  .service img {
    height: 350px;
  }

}

@media (max-width:576px) {

  .additional {
    padding: 0 20px;
  }

}


@keyframes service {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes middle {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.note {
  font-size: 16px;
  color: #445251;
  letter-spacing: 0.5px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  align-items: center;
  font-family: 'Noto Serif TC', serif;
}

.note-title {
  position: relative;
  text-align: center;
  padding: 4px 20px;
  color: #FFFCF5;
  background-color: #4D5139;
  display: inline-block;
  border-radius: 8px;
  z-index: 1;
  width: 150px;
}

.note-text {
  text-align: left;
  padding: 25px 25px;
  border: 1px solid #4D5139;
  border-radius: 8px;
  margin-top: -15px;
  backdrop-filter: blur(1.2px);
  background-color: #fffcf5c4;
  background: linear-gradient(to top bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 900px;

}

@media (max-width:992px) {
  .note-text {
    width: 600px;
  }
}

@media (max-width:768px) {
  .note-text {
    width: auto;
    font-size: 14px;
  }
}


/* footer */
#footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 35vh;
  padding: 50px 210px 30px;
  background-color: #445251;
  right: 0;
  bottom: 0;
  font-family: 'Noto Serif TC', serif;
}

.footer_all {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 左側 */
.footer_left {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}

.footer_logo {
  text-align: top;
  min-width: 300px;
}

.footer_address p {
  text-align: bottom;
  color: #FFFCF5;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* 右側 */
.footer_right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer_list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.footer_list ul {
  flex-direction: column;
  margin: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.footer_about::after,
.footer_shop::after,
.footer_custom::after,
.footer_faq::after,
.footer_cases::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -10px;
  height: 80px;
  width: 1px;
  background-color: #FFFCF5;
}

.footer_list li {
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}

.footer_list a {
  display: inline-block;
  text-decoration: none;
  color: #FFFCF5;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.footer_li_item a {
  display: flex;
  padding-bottom: 10px;
}

.footer_icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: sticky;
}

.footer_icon ul {
  align-content: center;
  display: flex;
}

.footer_icon li {
  margin: 0 10px;
  list-style-type: none;
  text-decoration: none;
}

.footer_icon_list a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size: cover;
  color: #FFFCF5;
}

.footer_icon_ig {
  background-image: url(../image/footer_icon_ig.svg);
}

.footer_icon_line {
  background-image: url(../image/footer_icon_line.svg);
}

.footer_icon_fb {
  background-image: url(../image/footer_icon_fb.svg);
}

.footer_icon_email {
  background-image: url(../image/footer_icon_email.svg);
}

/* RWD新增right區塊 */
.rwd_footer_list {
  display: none;
}

.btn-gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-image: url(../image/gotop.svg);
  background-size: cover;
  opacity: 0;
  transition: all 0.6s;
  mix-blend-mode: multiply;

  &.show {
    opacity: 1;
  }

  &:hover {
    background-color: #D6D8C9;
  }
}

.btn {
  color: transparent;
  border-radius: 50%;
  border: 50px
}


/* copyright */
.footer_copyright {
  display: flex;
  color: #FFFCF5;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  margin-top: 2rem;
}

@media (max-width: 1253px) {
  #footer {
    padding: 50px 50px 30px;
  }
}

@media (max-width: 923px) {
  #footer {
    display: flex;
    width: 100%;
    padding: 50px 100px;
    margin: 0 auto;
    background-color: #445251;
    right: 0;
    bottom: 0;
  }

  .footer_all {
    align-items: stretch;
    flex-direction: column-reverse;
  }

  .footer_address {
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 14px;
  }

  .footer_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
  }

  .footer_logo {
    padding: 30px 0;
    width: 20%;
  }

  .footer_right {
    display: flex;
    flex-direction: column;
  }

  .footer_list {
    display: none;
  }

  .footer_icon {
    padding-top: 20px;
  }

  .rwd_footer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .accordion {
    background-color: transparent;
    color: #FFFCF5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-top: none;
    border-bottom: 0.5px solid #D6D8C9;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.4s;
  }

  .rwd_footer_list .active {
    display: flex;
    justify-content: space-between;
  }

  .accordion:hover {
    background-color: #d6d8c966;
  }

  /* 列表加號 */
  .accordion:after {
    content: "";
    float: right;
    height: 18px;
    width: 18px;
    background-image: url(../image/footer_add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFCF5;
  }

  /* 列表減號 */
  .accordion.active:after {
    background-image: url(../image/footer_minus.svg);
  }

  .footer_panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .footer_panel {
    background-color: transparent;
    text-align: center;
    list-style-type: none;
  }

  .footer_panel a {
    display: block;
    text-decoration: none;
    color: #fffcf5c4;
    font-size: 16px;
    padding: 10px 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
    transition: 0.4s;
  }

  .footer_panel a:hover {
    content: "";
    background-color: #d6d8c966;
    color: #FFFCF5;
  }
}

@media (max-width: 576px) {
  #footer {
    padding: 50px 20px;
  }

  .accordion {
    font-size: 12px;
  }

  .accordion:after,
  .accordion.active:after {
    height: 14px;
    width: 14px;
  }

  .footer_icon_list a {
    width: 38px;
    height: 38px;
  }

  .footer_logo {
    min-width: 200px;
  }

  .footer_address,
  .footer_panel a {
    font-size: 12px;
  }

  .footer_address p {
    line-height: 2.0;
  }

  .footer_copyright {
    font-size: 12px;

  }
}